<IfModule mod_rewrite.c>

RewriteEngine On
#Options +FollowSymLinks
RewriteBase /
#require for front end/back end URL
#admin/index
#RewriteRule ^admin?$ /tpadmin/index.php?$1 [L,QSA]
RewriteRule ^admin/?$ /tpadmin/index.php?$1 [L,QSA]
#Reule for admin page
RewriteRule ^admin/(.+)$ /tpadmin/controller/$1 [L,QSA]
RewriteRule ^helper/admin/css/(.+)$ /tpadmin/css/$1 [L,QSA]
RewriteRule ^helper/admin/img/(.+)$ /tpadmin/img/$1 [L,QSA]
RewriteRule ^helper/admin/js/(.+)$ /tpadmin/js/$1 [L,QSA]

#RewriteRule ^admin/(.+)$ /tpadmin/controller/$1 [L,QSA]
#Public URL
RewriteCond %{REQUEST_URI} !/(public|tpadmin)/ [NC]
RewriteRule ^(.*)?$ public/$1 [L,NC]

#RewriteRule ^abcd.html?$ a.php?editID=$1&%{QUERY_STRING}  [L]
#eror page
ErrorDocument 404 /e404.html
ErrorDocument 500 /errordocs/500.html
ErrorDocument 401 /errordocs/401.html
ErrorDocument 403 /errordocs/403.html





</IfModule>

# Prevent file browsing
